AuthTokenServiceIntegratedTest/Connected Services/AuthTokenService/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="" namespace="http://schemas.datacontract.org/2004/07/AuthTokenService.Extensions" />
  <xs:element name="ToToken">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/AuthTokenService.Extensions" minOccurs="0" name="claims" nillable="true" type="q1:ArrayOfTokenClaim" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ToTokenResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/AuthTokenService.Extensions" minOccurs="0" name="ToTokenResult" nillable="true" type="q2:AuthTokenResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ParseToken">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="tokenStr" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ParseTokenResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/AuthTokenService.Extensions" minOccurs="0" name="ParseTokenResult" nillable="true" type="q3:AuthTokenResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>